NODE_ENV=development
FRONTEND_URL=""

# DATABASE
DATABASE_URL=""
PORT=8083
BASE_URL=http://localhost

# AUTHENTICATION (JWT) - Variables ajustées pour PERSONNEL et CLIENT
PERSONNEL_TOKEN_SECRET=""
PERSONNEL_TOKEN_EXPIRATION="1d"
PERSONNEL_REFRESH_TOKEN_SECRET=""
PERSONNEL_REFRESH_TOKEN_EXPIRATION="7d"

CLIENT_TOKEN_SECRET=""
CLIENT_TOKEN_EXPIRATION="1d"
CLIENT_REFRESH_TOKEN_SECRET=""
CLIENT_REFRESH_TOKEN_EXPIRATION="30d"

# NextAuth Configuration
AUTH_SECRET=""
NEXTAUTH_URL=""

# OTP (One-Time Password)
OTP_SECRET=""

# SECURITY
CORS_ORIGIN="http://localhost:${PORT},https://ambassade-tchad-dashboard.vercel.app"

# TWILIO (pour les notifications SMS/WhatsApp)
ACCOUNT_SID=""
AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""
TWILIO_WHATSAPP_NUMBER=""

# KKIAPAY (pour les paiements en ligne)
KKIA_PAY_PUBLIC_KEY=""
KKIA_PAY_PRIVATE_KEY=""
KKIA_PAY_SECRET_KEY=""
KKIA_PAY_SANDBOX=false

# NOTIFICATION EMAIL
EMAIL_PROVIDER=default

EMAIL_HOST=""
EMAIL_PORT=587
EMAIL_USER=""
EMAIL_PASSWORD=""
EMAIL_SENDER=""

GOOGLE_EMAIL_HOST=""
GOOGLE_EMAIL_PORT=587
GOOGLE_EMAIL_USER=""
GOOGLE_EMAIL_PASSWORD=""
GOOGLE_EMAIL_SENDER="">

# INFORMATIONS DE L'AMBASSADE (Anciennement CHICKEN NATION)
AMBASSADE_NAME="Ambassade du Tchad en Côte d'Ivoire"
AMBASSADE_DESCRIPTION="Votre portail de services consulaires et informations pour les ressortissants tchadiens en Côte d'Ivoire."
AMBASSADE_URL=https://ambassade-tchad.com
AMBASSADE_LOGO="${BASE_URL}/uploads/assets/logo.png"
AMBASSADE_SUPPORT=info@ambassade-tchad.com
AMBASSADE_UNSUBSCRIBE_URL=#
AMBASSADE_SOCIAL_LINKS=facebook,https://www.facebook.com/AmbassadeDuTchadEnCI/+instagram,https://www.instagram.com/AmbassadeDuTchadEnCI/